<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/card.css">
</head>
<body>
  <div class="card">
    <div class="image-container">
      <div class="gradient"></div>
      <p class="title">Raising Cane's</p>
      <img src="../assets/images/raisingcanes.png" alt="Raising Cane's">

    </div>
    <p class="description">Fast-food chain specializing in fried chicken fingers, crinkle-cut fries & Texas toast.</p>
    <div class="rating">
      <ul class="star-list">
        <li class="star-list-element"><span class="glyphicon glyphicon-star"></span></li>
        <li class="star-list-element"><span class="glyphicon glyphicon-star"></span></li>
        <li class="star-list-element"><span class="glyphicon glyphicon-star"></span></li>
        <li class="star-list-element"><span class="glyphicon glyphicon-star"></span></li>
        <li class="star-list-element"><span class="glyphicon glyphicon-star-empty"></span></li>
        <li class="star-list-element"><span class="num-reviews">37 Reviews</span></li>
      </ul>
    </div>
    <p class="price-genre">$ American</p>
    <p class="distance">2.8 mi</p>
  </div>
</body>
</html>
