<!-- Example of Google Maps functionality (Pizza place in Richardson) -->
<!-- <iframe height="300" width="" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJUFwmYFAy_9nSZKD1eQfxydQ1wdYX5Ew&q=Dominos+75080" allowfullscreen></iframe> -->

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/cards.css"> <!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="../assets/js/app.js"></script>
</head>

<body>
	<nav class="navbar navbar-custom">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">
					<img alt="Brand" src="../assets/images/logo.png">
				</a>
			</div>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<i class="glyphicon glyphicon-search"></i>
					<input type="text" class="form-control" placeholder="Italian, Tacos, Steak">
					<i class="glyphicon glyphicon-map-marker"></i>
					<input type="text" class="form-control" placeholder="Street Address, City, State">
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<i class="glyphicon glyphicon-user"></i>
					<a href="">Login / Sign up</a>
				</li>
				<li>
					<i class="glyphicon glyphicon-shopping-cart"></i>
					<a href="">Basket</a>
				</li>
			</ul>
			<ul class="nav navbar-nav" id="nav-bottom-row">
				<li><a href="">Home</a></li>
				<li><a href="genres.html">Restaurants</a></li>
				<li><a href="">Most Popular</a></li>
				<li><a href="">Near You</a></li>
				<li><a href="">Surprise Me</a></li>
			</ul>
		</div>
	</nav>
	<div class="jumbotron">
		<div class="featured-info">
			<h1>Chick-fil-a</h1>
			<div>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<span>29 reviews</span>
			</div>
			<ul class="featured-info-restaurant">
				<li>
					<i class="glyphicon glyphicon-usd"></i>
				</li>
				<li>American</li>
				<li>2.3 miles</li>
			</ul>
			<p>
				Fast-food chain serving chicken sandwiches, strips and nuggets along with salads and sides.
			</p>
		</div>
	</div>

	<!-- Restaurant Cards -->
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/raisingcanes.png" alt="American">
			<div class="caption">
				<h4>Raising Canes</h4>
				<p>
					Fast-food chain specializing in fried chicken fingers, crinkle-cut fries and Texas toast.
					<span>2.8 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<span>37 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<span>American</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/chikfila2.jpg" alt="American">
			<div class="caption">
				<h4>Chik-fil-a</h4>
				<p>
					Fast-food chain serving chicken sandwiches, strips & nuggets along with salads & sides.
					<span>2.3 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<span>29 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<span>American</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/chilis.png" alt="American">
			<div class="caption">
				<h4>Chili's</h4>
				<p>
					Family-friendly chain serving classic Tex-Mex & American fare in a Southwestern-style...
					<span>5.4 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<span>13 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<i class="glyphicon glyphicon-usd"></i>
					<span>American</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/panda.png" alt="Chinese">
			<div class="caption">
				<h4>Panda Express</h4>
				<p>
					Fast-food chain for Chinese standards, including some health-conscious options.
					<span>1.4 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<span>13 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<span>Chinese</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/olivergarden.png" alt="Italian">
			<div class="caption">
				<h4>Olive Garden</h4>
				<p>
					Lively, family-friendly chain featuring Italian standards such as pastas & salads, with a full...
					<span>6.9 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<span>40 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<i class="glyphicon glyphicon-usd"></i>
					<span>Italian</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/tacocabana.png" alt="Mexican">
			<div class="caption">
				<h4>Taco Cabana</h4>
				<p>
					Colorful chain eatery for classic Mexican fare, including freshly made salsa & tortillas.
					<span>13.9 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<span>48 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<span>Mexican</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/raisingcanes.png" alt="American">
			<div class="caption">
				<h4>Raising Canes</h4>
				<p>
					Fast-food chain specializing in fried chicken fingers, crinkle-cut fries and Texas toast.
					<span>2.8 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star-empty"></i>
				<span>37 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<span>American</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="thumbnail">
			<img src="../assets/images/chikfila2.jpg" alt="American">
			<div class="caption">
				<h4>Chik-fil-a</h4>
				<p>
					Fast-food chain serving chicken sandwiches, strips & nuggets along with salads & sides.
					<span>2.3 miles</span>
				</p>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<i class="glyphicon glyphicon-star"></i>
				<span>29 Reviews</span>
				<div class="row">
					<i class="glyphicon glyphicon-usd"></i>
					<span>American</span>
				</div>
			</div>
		</div>
	</div>

</body>
