<!-- Example of Google Maps functionality (Pizza place in Richardson) -->
<!-- <iframe height="300" width="" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJUFwmYFAy_9nSZKD1eQfxydQ1wdYX5Ew&q=Dominos+75080" allowfullscreen></iframe> -->

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/cards.css">
	<link rel="stylesheet" href="../assets/css/genres.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js'></script>
	<script src="../assets/js/restaurants.js" defer="defer"></script>
	<script src="../assets/js/app.js"></script>
</head>

<body>
	<nav class="navbar navbar-custom">
		<div class="container-fluid">
			<div class="row">
				<div class="navbar-header">
					<a class="navbar-brand" href="home.html">
						<img alt="Brand" src="../assets/images/logo.png">
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<i class="glyphicon glyphicon-shopping-cart"></i>
						<a href="cart.html">Shopping Cart</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="jumbotron">
		<div class="featured-info">
			<h1>Popular Restaurant Name</h1>
			<div>
				<span>Rating</span>
				<span>Number of Reviews</span>
			</div>
			<ul class="featured-info-restaurant">
				<li>
					<i class="glyphicon glyphicon-usd"></i>
				</li>
				<li>Food Type</li>
				<li>Distance Away</li>
			</ul>
			<p>
				Restaurant Description
			</p>
		</div>
	</div>

	<div class="row restaurants">
		<h1>Restaurants</h1>
	</div>

	<div class="row restaurants">
		<ul class="col-sm-3" data-bind="foreach: restaurantsList">
			<a href="restaurant-info.html">
				<li class="thumbnail restaurant">
					<img data-bind="attr: { src: imageSrc }">
					<div class="caption">
						<h4 data-bind="text: name"></h4>
						<p data-bind="text: description"></p>
						<span data-bind="text: numReview"></span>
						<span>Reviews</span>
						<div class="row">
							<i class="glyphicon glyphicon-usd"></i>
							<span data-bind="text: foodType"></span>
							<span class="pull-right">Distance Away</span>
						</div>
					</div>
				</li>
			</a>
		</ul>
	</div>
</body>
