<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/cards.css">
	<link rel="stylesheet" href="../assets/css/genres.css">
	<link rel="stylesheet" href="../assets/less/restaurant-info.less">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js'></script>
	<script src="../assets/js/cart.js" defer="defer"></script>
	<script src="../assets/js/app.js"></script>
</head>

<body>
	<nav class="navbar navbar-custom">
		<div class="container-fluid">
			<div class="row">
				<div class="navbar-header">
					<a class="navbar-brand" href="home.html">
						<img alt="Brand" src="../assets/images/logo.png">
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<i class="glyphicon glyphicon-shopping-cart"></i>
						<a href="cart.html">Shopping Cart</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="featured-info">
			<h1>Popular Restaurant Name</h1>
			<div>
				<span>Rating</span>
				<span>Number of Reviews</span>
			</div>
			<ul class="featured-info-restaurant">
				<li>
					<i class="glyphicon glyphicon-usd"></i>
				</li>
				<li>Food Type</li>
				<li>Distance Away</li>
			</ul>
			<p>
				Restaurant Description
			</p>
		</div>
	</div>

	<div class="row restaurants">
		<h1>Meals</h1>
	</div>

	<div class="row restaurants">
		<div class="col-sm-4 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #1</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #2</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row restaurants">
		<div class="col-sm-4 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #3</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #4</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row restaurants">
		<h1 class="col-sm-4">Entrees</h1>
		<h1 class="col-sm-4">Sides</h1>
	</div>
	<div class="row restaurants">
		<div class="col-sm-4 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #3</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #4</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row restaurants">
		<div class="col-sm-4 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #3</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #4</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row restaurants">
		<h1 class="col-sm-4">Breakfast</h1>
		<h1 class="col-sm-4">Dessert</h1>
	</div>
	<div class="row restaurants">
		<div class="col-sm-4 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #3</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-1 menu-item">
			<img src="../assets/images/mexican.png">
			<div class="caption col-sm-6">
				<h4>Meal #4</h4>
				<p>
					Get a chicken sandwich, with waffle fries and a medium drink! Our most popular meal.
				</p>
				<div class="price-info">
					<span class="glyphicon glyphicon-usd">12.99</span>
					<button class=" btn browse pull-right">
						<span class="glyphicon glyphicon-plus" id="color-white"></span> Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row restaurants">
		<h1>12 Reviews
			<button class="btn browse col-sm-offset-9 pull-right">Browse</button>
		</h1>
	</div>
	<div class="row restaurants">
		<div class="caption col-sm-3 reviews">
			<img class="img-circle" src="../assets/images/asian.png">
			<h4>Review</h4>
			<p id="user-review"></p>
		</div>
	</div>
	<div class="row restaurants">
		<a id="add-review">
			Leave a review?
		</a>
	</div>
	<div class="row restaurants">
		<h1>Related Restaurants<button class="btn browse col-sm-offset-9 pull-right">Browse</button></h1>
	</div>
	<div class="row restaurants">
		<div class="col-sm-3">
			<div class="thumbnail">
				<img src="../assets/images/tacocabana.png" alt="American">
				<div class="caption">
					<h4>Raising Canes</h4>
					<p>
						Fast-food chain specializing in fried chicken fingers, crinkle-cut fries and Texas toast.
						<span>2.8 miles</span>
					</p>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<span>37 Reviews</span>
					<div class="row">
						<i class="glyphicon glyphicon-usd"></i>
						<span>American</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="thumbnail">
				<img src="../assets/images/raisingcanes.png" alt="American">
				<div class="caption">
					<h4>Raising Canes</h4>
					<p>
						Fast-food chain specializing in fried chicken fingers, crinkle-cut fries and Texas toast.
						<span>2.8 miles</span>
					</p>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<span>37 Reviews</span>
					<div class="row">
						<i class="glyphicon glyphicon-usd"></i>
						<span>American</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="thumbnail">
				<img src="../assets/images/raisingcanes.png" alt="American">
				<div class="caption">
					<h4>Raising Canes</h4>
					<p>
						Fast-food chain specializing in fried chicken fingers, crinkle-cut fries and Texas toast.
						<span>2.8 miles</span>
					</p>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<span>37 Reviews</span>
					<div class="row">
						<i class="glyphicon glyphicon-usd"></i>
						<span>American</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="thumbnail">
				<img src="../assets/images/raisingcanes.png" alt="American">
				<div class="caption">
					<h4>Raising Canes</h4>
					<p>
						Fast-food chain specializing in fried chicken fingers, crinkle-cut fries and Texas toast.
						<span>2.8 miles</span>
					</p>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<i class="glyphicon glyphicon-star"></i>
					<span>37 Reviews</span>
					<div class="row">
						<i class="glyphicon glyphicon-usd"></i>
						<span>American</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
