.glyphicon-usd {
	color: #ff5722;
}
.menu-item {
	border: 1px solid #ddd;
	padding: 0;
}
.menu-item p {
	color: #a3a3a3;
}

.glyphicon-plus {
	color: #fff;
}

.menu-item img {
	float: left;
	display: block;
	width: 188px;
}
