.glyphicon-usd {
	color: #ff5722;
}
.menu-item {
	border: 1px solid #ddd;
	padding: 0;
	box-shadow: 1px 1px 1px #888888;
}
.menu-item p {
	color: #a3a3a3;
}

.glyphicon-plus {
	color: #fff;
}

.menu-item img {
	float: left;
	display: block;
	width: 188px;
}
.menu-item > .caption {
	display: block;
	padding-right: 0;
}

.price-info {
	margin-top: 55px;
	color: #ff6130;
}

.menu-item > .caption span {
	color: #ff6130;
}

.glyphicon-usd {
	color: #ff6130;
	font-size: 20px;
}

#color-white {
	color: #fff;
}

.restaurants {
	margin-bottom: 16px;
}

.reviews {
	border: 1px solid #ddd;
	padding: 0;
	box-shadow: 1px 1px 1px #888888;
	margin-right: 16px;
}

.reviews img {
	width: 56px;
	height: 56px;
	float: left;

	padding: 5px;
}

.reviews p {
	border-top: 1px solid #ddd;
	padding: 5px;
}

.col-sm-3 {

}

#add-review {
	font-size: 18px;
	background-color: #ff6130;
	color: #fff;
}

.row i {
	color: #878787;
}
