.caption p {
	font-size: 12px;
}

.caption > .row {
	margin-top: 5px;
}

.caption > .row i {
	margin-left: 12px;
}

.caption span {
	color: #c5c5c5;
}

.thumbnail {
	padding: 0;
}

#distance-away {
	margin-left: 150px;
}

.restaurants {
	margin-left: 66px;
	margin-right: 66px;
}
