.order-container {
  background-color: #e3e3e3;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.box-container {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  padding-bottom: 20px;
}

.box-container h2 {
  text-align: center;
}

.row h1 {
  margin: 10px;
}

.c1 {
  overflow: hidden;
}

.c1 img{
  width: 100%;
  max-height: 100%;
}

.notes-input {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.notes-input input {
  height: 48px;
}

.item-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c3 {
}

.item-list ul {
  list-style-type: none;
}
